<!DOCTYPE html>
<html lang="en">
<style>
    table{
        text-align: left;
        margin-left: auto;
        margin-right: auto   ;
        background-color: blanchedalmond;
    }
    .submit{
        margin-right: 100%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <Table>
                <tr>
                    <th>Username</th>
                    <td><input type="email"></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type =  "password"></td>     
                </tr>
                <tr>
                    <td row='3' class="submit"><input type="submit" value="Đăng kí"></td>
                    <td row='3' class="submit"><input type="submit" value="Đăng nhập"></td>
                </tr>
        </Table>
    </form>
</body>
</html>