<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <table class="table table-sm">    
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">
                <a href="{% url 'add_product' %} ">
                    <img src="{% static 'images/add-solid-pngrepo-com.png' %}" style="width : 25px; height: 25px;">
                </a>
            </th>
            
</body>
</html>